PORT=9000
LOG_LEVEL=info
MASTERMIND_SHOPIFY_DOMAIN=https://your-shopify-domain.myshopify.com
MASTERMIND_CLIENT_ID=your-client-id
MASTERMIND_CLIENT_SECRET=your-client-secret
MASTERMIND_REDIRECT_URI=https://your-redirect-uri.com
MASTERMIND_SCOPES=read_products,write_products
MASTERMIND_GRAPHQL_URL=https://mastermind-toys.myshopify.com/admin/api/2025-04/graphql.json
PRISMART_PROXY_DOMAIN=https://smarttaq-integration.slscanada.ca/proxy
PRISMART_USERNAME=your-username
PRISMART_PASSWORD=your-password
CUSTOMER_STORE_CODE=your-customer-store-code
STORE_CODE=your-store-code